@model App.Models.Question

<div class="container">
    <h1> @Html.Raw(@Model.Heading) </h1>
    <h3> @Model.CreationDate </h3>

    <div class="jumbotron">
        @Html.Raw(@Model.Text)
    </div>
</div>
