@model App.Models.Question

<div class="container">
    <h1> @Html.Raw(@Model.Heading) </h1>
    <h5> Added on: @Model.CreationDate </h5>

    <div class="jumbotron">
        @Html.Raw(@Model.Text)
    </div>
</div>
