@model App.Models.QuestionDTO

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <a asp-controller="Like" asp-action="Increment" asp-route-Id="@Model.Id" class="btn btn-primary"><i class="fa fa-thumbs-up">Like</i></a>
            <a asp-controller="Like" asp-action="Decrement" asp-route-Id="@Model.Id" class="btn btn-primary"><i class="fa fa-thumbs-down">DisLike</i></a>
            <br/>
            @Model.Likes
        </div>
        <div class="col-8">
            <h1> @Html.Raw(@Model.Heading) </h1>
            <h5> Added on: @Model.CreationDate by @Model.User.UserName</h5>
            <hr/>
            <div class="jumbotron">
                @Html.Raw(@Model.Text)
            </div>
        </div>
    </div>
</div>

<h1> @Model.Answers.Count() Answers </h1>
<hr/>
<!-- Answers -->
<div class="container">
@foreach (var i in Model.Answers)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <a asp-controller="Like" asp-action="Increment" asp-route-Id="@i.Id" class="btn btn-primary"><i class="fa fa-thumbs-up">Like</i></a>
                <a asp-controller="Like" asp-action="Decrement" asp-route-Id="@i.Id" class="btn btn-primary"><i class="fa fa-thumbs-down">DisLike</i></a>
                <br/>
                @i.Likes
            </div>
            <div class="col-8">
                <h1> @Html.Raw(@i.Heading) </h1>
                <h5> Added on: @i.CreationDate by i.User.UserName</h5>
                <hr/>
                <div class="jumbotron">
                    @Html.Raw(@i.Text)
                </div>
            </div>
        </div>
    </div>
<hr/>
}
</div>

<!-- Your Answer -->

<a class="btn btn-success d-flex justify-content-center" asp-controller="Question" asp-action="Answer" asp-route-Id="@Model.Id"> Answer ! </a>

