@model App.Models.Question;
@using App.Utils;

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <a asp-controller="Like" asp-action="Increment" asp-route-Id="@Model.Id" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></a>
            <a asp-controller="Like" asp-action="Decrement" asp-route-Id="@Model.Id" class="btn btn-primary"><i class="fa fa-thumbs-down"></i></a>
            <br/>
            @Model.Likes
        </div>
        <div class="col-8">
            <h1> @Html.Raw(@Model.Heading) </h1>
            <h5 class="d-inline-block text-truncate text-muted">Added @Util.TimeAgo(@Model.CreationDate) by <a>@Model.User.UserName</a></h5>
            <hr/>
            <div class="jumbotron">
                @Html.Raw(@Model.Text)
            </div>

        <!--Comments-->

        <div class="container-fluid">
            <hr/>
            @foreach (var comment in Model.Comments) 
            {
                <div class="row">
                    <div class="col-8" style="word-wrap: break-word;">
                        @Html.Raw(@comment.Text)
                    </div>
                    <div class="col-sm-2">
                        <span class="text-primary">@comment.User.UserName</span>
                        <span class="d-inline-block text-truncate text-muted">@Util.TimeAgo(@comment.CreationDate)</span>
                    </div>
                </div>
                <hr/>
            }
        </div>
        <a class="btn btn-primary btn-block" asp-action="Comment" asp-route-Id="@Model.Id">Comment</a>

        </div>
    </div>
</div>

<h1>
    @Model.Answers.Count()
    @if (@Model.Answers.Count() != 1) {
        <span> Answers </span>
    } else {
        <span> Answer </span>
    }
</h1>
<hr/>
<!-- Answers -->
<div class="container">
@foreach (var answer in Model.Answers)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <a asp-controller="Like" asp-action="Increment" asp-route-Id="@answer.Id" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></a>
                <a asp-controller="Like" asp-action="Decrement" asp-route-Id="@answer.Id" class="btn btn-primary"><i class="fa fa-thumbs-down"></i></a>
                <br/>
                @answer.Likes
            </div>
            <div class="col-8">
                <h1> @Html.Raw(@answer.Heading) </h1>
                <span class="d-inline-block text-truncate text-muted">Added @Util.TimeAgo(@answer.CreationDate) by <a>@answer.User.UserName</a></span>
                <h5></h5>
                <hr/>
                <div class="jumbotron">
                    @Html.Raw(@answer.Text)
                </div>

            <div class="comments">
                <hr/>
                @foreach (var comment in answer.Comments) 
                {
                    <div class="row">
                        <div class="col-8 mx-5" style="word-wrap: break-word;">
                            @Html.Raw(@comment.Text)
                        </div>
                        <div class="col-sm-2">
                            <span class="text-primary">@comment.User.UserName</span>
                            <span class="d-inline-block text-truncate text-muted">@Util.TimeAgo(@comment.CreationDate)</span>
                        </div>
                    </div>
                    <hr/>
                }
                </div>
                    <a class="btn btn-primary btn-block" asp-action="CommentForAns" asp-route-Id="@answer.Id">Comment</a>
                </div>
            </div>

    </div>
<hr/>
}
</div>

<!-- Your Answer -->

<a class="btn btn-success d-flex justify-content-center" asp-controller="Question" asp-action="Answer" asp-route-Id="@Model.Id"> Answer ! </a>

