@using Microsoft.AspNetCore.Identity
@using System.Linq;

@model IEnumerable<App.Models.Question>;
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-primary d-flex justify-content-center" asp-controller="Question" asp-action="Create"> Ask a question </a>
<br/>

<!--Sort method-->

<div class="row">
    <div class="btn-group float-right" role="group" aria-label="Basic example">
      <a asp-action="Index" asp-route-sortOrder="votes" class="btn btn-secondary">Sort by votes</a>
      <a asp-action="Index" asp-route-sortOrder="answers" class="btn btn-secondary">Sort by answers</a>
    </div>
</div>

@foreach (var question in Model)
{
    <hr/>
        <div class="container">
            <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="col btn btn-outline-warning m-1">
                                <span class=""> @question.Likes <br/> </span>
                                <span class="">Votes</span>
                            </div>
                            @if (@question.IsSolved)
                            {
                                <div class="col btn btn-success m-1">
                                    <span>@question.Answers.Count()</span>
                                    <br/>
                                    <span> Answers </span>
                                </div>
                            }
                            else
                            {
                                <div class="col btn btn-outline-success m-1">
                                    <span>@question.Answers.Count()</span>
                                    <br/>
                                    <span> Answers </span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col">
                        <a class="lead" asp-controller="Question" asp-action="Show" asp-route-Id="@question.Id"> @Html.Raw(@question.Heading) </a>
                        <br/>
                    </div>
                    <!--Edit ans Delete -->
                        <div class="col-2">
                            <div class="btn-group-vertical justify-content-center">
                                <!-- Admin Can delete and edit; Moderator can only edit -->
                                @if (question.User.UserName == User.Identity.Name || User.IsInRole("admin"))
                                {
                                    <a asp-route-Id="@question.Id" asp-controller="Question" asp-action="Edit" class="btn btn-info">Edit <i class="fas fa-edit"></i></a>
                                    <a asp-route-Id="@question.Id" asp-controller="Question" asp-action="Delete" class="btn btn-danger">Delete <i class="fas fa-trash"></i></a>
                                }
                                else if (User.IsInRole("moderator"))
                                {
                                    <a asp-route-Id="@question.Id" asp-controller="Question" asp-action="Edit" class="btn btn-info">Edit <i class="fas fa-edit"></i></a>
                                }
                            </div>
                        </div>
            </div>
        </div>
    <hr/>
}
